.slideDefault{
	width:350px; height:300px; padding:5px; border:5px solid gray; margin:0px; float: center;
}

.theme{
text-align: center; height:  200px; width: 200px; float: left; margin: 26px;
}
.whitetheme{
	border: 2px solid black; 
}
.blacktheme{
	 border: 2px solid gray; background-color: gray;
}
.redtheme{
	border: 2px solid red;
}
#presentation{
	clear: both; float: right; height: relative; width: relative; border: 2px red; background-color: #F8F8F8; border: 1px solid blue;
}
#form{
	float: left;
}