.slideDefault{
	width:425px; height:375px; padding:1px; border:2px solid gray; margin:0px; margin-left: auto;
    margin-right: auto;
}
.theme{
text-align: center; margin: 20px; height:  120px; width: 120px; float: left;
}
.slidebarprev{
clear: both; margin: 20px; float: right; border: 2px solid black; height: 100px; width: 100px; font-size: 40%;
}
.presNavPreview{
	clear: both; margin: 20px; float: right; border: 2px solid black; height: 60px; width: 150px; font-size: 60%;
}
.slidePlus{
	font-size: 500%; postion: middle;
}
.title{
	width: relative; height:30px; padding:1px; border:2px solid gray; margin:0px; margin-left: auto;
    margin-right: auto;
}
.contLabel{
	font-size: 150%; postion: middle;
}
img#plus{ display: block; margin-left: auto; margin-right: auto; }
.whitetheme{
	border: 2px solid black; 
}
.blacktheme{
	border: 2px solid gray; background-color: gray;
}
.redtheme{
	border: 2px solid red;
}
.bluetheme{
	border: 2px solid blue; color: black;
}
.orangetheme{
	border: 2px solid orange; 
}
.greentheme{
	border: 2px solid green;
}	
#objectRep{
	float: left; text-align:left;
}
#ppt{
	margin-left: auto; margin-right: auto;
}
