.slideDefault{
	width:425px; height:375px; padding:1px; border:2px solid gray; margin:0px; margin-left: auto;
    margin-right: auto;
}
.theme{
text-align: center; margin: 20px; height:  120px; width: 120px; float: left;
}
.slidebarprev{
font-size: 100%; clear: both; margin: 20px; float: right; border: 2px solid black; height: 100px; width: 100px;
}
.whitetheme{
	border: 2px solid black; 
}
.blacktheme{
	 border: 2px solid gray; background-color: gray;
}
.redtheme{
	border: 2px solid red;
}
.bluetheme{
	border: 2px solid blue; color: black;
}
.orangetheme{
	border: 2px solid orange; 
}
.greentheme{
	border: 2px solid green;
}
#objectRep{
	clear: both; float: left; height: relative; width: relative; background-color: #F8F8F8;
}
#slideTitleRep{
	clear: both; float: left; height: relative; width: relative; background-color: #F8F8F8;
}
#form{
	float: left;
}
#ppt{
	float: center; margin-left: auto; margin-right: auto;
}
#selectable div{
	height:  80px; width: 80px; padding: 10px; margin: 10px; border: 1px solid;
}