.slideDefault{
	width:425px; height:375px; padding:1px; border:2px solid gray; margin:0px; margin-left: auto;
    margin-right: auto;
}
.theme{
text-align: center; margin: 20px; height:  120px; width: 120px; float: left;
}
.slidebarprev{
font-size: 100%; clear: both; margin: 20px; float: right; border: 2px solid black; height: 100px; width: 100px;
}
.whitetheme{
	border: 2px solid black; 
}
.blacktheme{
	border: 2px solid gray; background-color: gray;
}
.redtheme{
	border: 2px solid red;
}
.bluetheme{
	border: 2px solid blue; color: black;
}
.orangetheme{
	border: 2px solid orange; 
}
.greentheme{
	border: 2px solid green;
}
#slideTitleRep{
	float: left;
}
#objectRep{
	float: left; 
}
#ppt{
	margin-left: auto; margin-right: auto;
}
